<div class="container-fluid">
  <div class="panel">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <%= link_to 'Dados Importados', arquivos_path, class: 'btn btn-primary' %>
      <%= link_to 'Importar Novo Arquivo', new_arquivo_path, class: 'btn btn-primary' %>
    </nav>
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <p id="notice"><%= notice %></p>
      </div>
    <% end %> 
    <div class="row justify-content-center">
      <h1>Dados Importados</h1>
    </div>
    <div class="row">
      <%= render  'antigos' %>
    </div>
    <br/>
    <div class="row"></div>
      <%= render  'novos' %>
    </div>
      
    <div class="row justify-content-center">
      <%= link_to 'Importar Novo Arquivo', new_arquivo_path, class: 'btn btn-success' %>
    </div>
  </div>
    
</div>






